impl/
hdl/src/instantiation_templates/
workspace.code-workspace
hdl/sim/vunit_out
software/test2
software/work
software/test
hdl/sim/teroshdl_out.xml
hdl/sim/teroshdl_export.json
fpca.gen
boards/tang_nano_9k/fpca/fpca.gprj.user
boards/tang_nano_4k
