impl/
hdl/src/instantiation_templates/
workspace.code-workspace
hdl/sim/vunit_out
software/test2
software/work
software/test
hdl/sim/teroshdl_out.xml
hdl/sim/teroshdl_export.json
# Gowin Project files
boards/tang_nano_9k/fpca/fpca.gprj.user
boards/tang_nano_4k
boards/tang_nano_9k/gowin_sim/
#Xilinx Project Files
fpca.gen
boards/pynq_z2/fpca/fpca.*/
boards/tang_nano_9k/fpca/sim/psram_memory_interface_hs_2ch/temp/
hdl/sim/tb_helpers/psram_memory_interface_hs_2ch/temp/
boards/pynq_z2/hdl/hamsterworks_dvi/
# Xilinx Block diagrams/IPs
**/bd/**/*
!**/bd/**/*.bd
**/ip/**/*
!**/ip/**/*.xci
# GOWIN IP
*tmp.vhd
*.vo
# Others